* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: none;
    scroll-behavior: smooth !important;
    background-color: black;
    color: white;
    /* font-family: "OpenSans-Bold"; */
    font-family: Inter ,sans-serif !important;
    /* font-family: "Calligraffitti", cursive; */
    /* font-family: "Ojuju", sans-serif; */
}

body{
    margin-top: 0;
}

:root {
    --mainColor: black;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

.chatBot{
    animation: animated 7s linear infinite;
}

@keyframes animated{
    0%{
        transform: translate(-30%, -30%) translateY(-100px) rotate(0deg);
    }
    50%{
        transform: translate(-30%, -30%) translateY(0px) rotate(0deg);
    }
    100%{
        transform: translate(-30%, -30%) translateY(-100px) rotate(0deg);
    }

}