.faq {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-div {
    margin: 30px;
    padding: 20px;
    text-align: center;
}

.accordion {
    width: 700px;
    border: 1px solid black;
    margin: 10px;
}

.accordion-item {
    margin: 3px;
    border: none !important;
}

@media screen and (max-width: 800px) {
    .accordion {
        width: 21rem;
    }
}


.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
    border: none;
}

.disclaimer {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    animation: scrollText 40s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.disclaimer p {
    overflow: hidden;
    padding: 10px;
    display: inline-block;
}

.scroll-container{
    overflow: hidden;
    margin: 10%;
}

.accordion-header .accordion-button{
    background-color: white;
}